*{
    margin: 0;
    padding: 0;
}
.jumbotron{
    background-image: url("file:///C:/Users/Raghav/Desktop/Website/food.jpg");
    height: 600px;
    background-size: cover;
    background-color: rgba(000, 000,000 ,0.3);
    background-blend-mode: color;
}
a{
    color: white;
}
#text{
    display: flex;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    flex: 4;
    margin-left: 100px;
    margin-top: 150px;
}
#text2{
    margin-left: 70px;
}
.head{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.image1{
    height: 300px;
    width: 450px;
    margin-left: 130px;
}
.section3{
    background-color: whitesmoke;
}
.sectin3-text{
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
.chef{
    height: 250px;
    width: 300px;
   
}
.name{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}